<h1>電影後台</h1>

<a href="/admin/movies">電影清單</a> ||
<a href="/admin/create">新增電影</a>

<br>
<br>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">title</th>
      <th scope="col">release</th>
      <th scope="col">#</th>
    </tr>
  </thead> 
  <tbody>
    {{#each movies.rows}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td><a href="/admin/movies/{{this.id}}">{{this.title}}</a></td>
      <td>{{this.release_date}}</td>
      <td>--</td>
    </tr>
    {{/each}}
  </tbody>
</table>