<div class="left-zone">
  </br>
  </br>
  <div class="home" name="home">
    <a class="left-zone-items" href="/movies" style="text-decoration: none"><i class="fas fa-home"></i>&ensp;首頁</a>
  </div>

  </br>

  <div class="profile" name="profile">
    <a class="left-zone-items" href="/users/{{user.id}}" style="text-decoration: none"><i
        class="far fa-user"></i>&ensp;個人資料</a>
  </div>

  </br>

  <div class="topUser" name="topUser">
    <a class="left-zone-items" href="/users/topUser" style="text-decoration: none"><i class="fas fa-home"></i>&ensp;Top User</a>
  </div>
    
  </br>

  <div class="topUser" name="topUser">
    <a class="left-zone-items" href="/movies/topMovie" style="text-decoration: none">
    <i class="fas fa-home"></i>&ensp;Top Movie</a>
  </div>
  
  </br>

  </br>
  </br>





  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>

  <a href="/logout" class="logout" style="text-decoration: none"><i class="fas fa-sign-out-alt"></i>&ensp;LogOut</a>

</div>