
<div class="row">
  <div class="col-md-6">
    <img src="{{user.image}}" alt="">
  </div>
  <div class="col-md-6">
    <p>name: {{user.name}}</p>
    <br>
    <p>email: {{user.email}}</p>
    <a href="/users/{{user.id}}/editProfile" class="btn btn-primary btn-sm">Edit</a>
  </div>
</div>


