.movie-link {
  text-decoration: none;
}

.movie-link .movie-wrapper {
  display: flex;
  background: #f2f3f5;
  width: 500px;
  height: 200px;
}

.movie-link .movie-wrapper .movie-thumbnail img {
  width: 139px;
  height: 200px;
}
.movie-link .movie-wrapper .movie-description {
  padding: 10px 12px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #dddfe2;
  border-bottom: 1px solid #dddfe2;
}

.movie-link .movie-wrapper .movie-description .movie-title {
  color: #1d2129;
  font-weight: bolder;
  font-size: 17px;
  line-height: 20px;
  padding-top: 2px;
  margin-bottom: 10px;
} 
 
.movie-link .movie-wrapper .movie-description .movie-desc {
  color: #606770;
  font-size: 15px;
}

.movie-align-btn {
  margin-top: 70px;
}

.movie-icon {
  display: flex;
  flex-direction: row;
  vertical-align:bottom;

}
.movie-favorite-number, .movie-like-number {
  vertical-align:bottom;
}

.rounded-circle {
  width:50px;
  border-radius:50%
}
.movie-image {
  display: flex;
  align-items: center;
  width: 330px;
  padding-left: 30px;
}
.comment-area {
  display: flex;
}
.rounded-circle {
  width:60px;
  height: 60px;
  border-radius:50%;
}
.user-name {
  color: white; 
  margin-right: 15px;
  display: flex;
  align-items: center;
}
a:hover{
  text-decoration:none;
}
.feed-movie {
  display: flex;
}
.feed-movie img {
  width: 90px;
  margin-top: 10px;
}
.user-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-image img {
  width: 180px;
  height: 180px;
  border-radius:50%;
}

.feed-comment{
  display: flex;
}
.feed-comment img {
  align-items: center;
  width: 90px;
  margin-top: 5px;
  margin-bottom: 5px;
}